# Internal documentation
*.md

# Internal database schema
01_database_schema.sql

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production & Vercel
.vercel/
*.tsbuildinfo
*.zip

# Environment & Local Secrets
.env*.local
.env
.env.production
.env.staging
!.env.example

# OS / IDE metadata
.DS_Store
*.pem
Thumbs.db

# Additional
scripts/